:root {
    --text: #0e240a;
    --background: #e6f7e3;
    --primary: #b4e7ac;
    --secondary: #bbe9b4;
    --accent: #3ea22f;
}

/* Reset default styles and set background color for the navbar */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Poppins';
}

/* Style the navigation bar */
nav {
    background-color: var(--background);
    display: flex;
    justify-content: space-between; /* Pushes logo to the left and links to the right */
    align-items: center; /* Vertically centers the logo and links */
    padding: 10px;
}

.logo {
    margin-right: auto; /* Pushes the logo to the left */
    color: var(--text);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px; /* Add space between links */
}

/* Style the links in the navigation bar */
nav a {
    text-decoration: none;
    color: var(--accent);
    font-weight: bold;
}

nav a:hover {
    color: var(--primary);
}

/* Style the hero section */
.hero {
    text-align: center;
    padding: 100px;
    color: #fff;
    background: url('hero-background.jpg') no-repeat center center;
    background-size: cover;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--text);
}

.hero p {
    font-size: 18px;
    color: var(--accent);
}

/* Style the project links */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Spacing between grid items */
    padding: 20px;
}

.project {
    background-color: var(--background);
    color: var(--text);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none; /* Remove the default link underline */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.project:hover {
    transform: scale(1.05); /* Add hover effect for scaling */
}

.project img {
    max-width: 100%;
    max-height: 100%; /* Adjust the image size as needed */
    margin-bottom: 10px;
}

.project h3 {
    font-size: 18px;
}